# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                trust
# "local" is for Unix domain socket connections only
local   all             all                                     trust
# IPv4 local connections:
host    all             all             127.0.0.1/32            trust
# IPv6 local connections:
host    all             all             ::1/128                 trust
{% for host in groups['first-gitlab'] %}
host all  all {{ host }}/32 trust
{% endfor %}
{% for host in groups['gitlab'] %}
host all  all {{ host }}/32 trust
{% endfor %}
{% for host in groups['postgre-slave'] %}
host replication all {{ host }}/32 trust
{% endfor %}
