bind 0.0.0.0
port 26379
sentinel monitor instance-gitlab-03 {{groups['redis-master'][0]}} 6379 2
sentinel auth-pass instance-gitlab-03 "{{password}}"
sentinel down-after-milliseconds instance-gitlab-03 10000
sentinel failover-timeout instance-gitlab-03 30000