cluster=cluster
node={{count}}
node_name=instance-gitlab-0{{count}}
{% for host in groups['postgre-master'] %}
conninfo='host={{ host }} user=gitlab dbname=repmgr connect_timeout=2'
{% endfor %}
failover=automatic
promote_command='repmgr standby promote -f /etc/repmgr.conf --log-to-file'
follow_command='repmgr standby follow -f /etc/repmgr.conf --log-to-file'
logfile='/var/log/postgresql/repmgr.log'
loglevel=NOTICE
reconnect_attempts=4
reconnect_interval=5