external_url 'http://{{virtualAddress}}'

high_availability['mountpoint'] = '/var/opt/gitlab/git-data'

gitlab_rails['db_adapter'] = 'postgresql'

gitlab_rails['db_encoding'] = 'unicode'
gitlab_rails['db_database'] = 'gitlabhq_production'
gitlab_rails['db_pool'] = 10
gitlab_rails['db_username'] = 'gitlab'
gitlab_rails['db_password'] = '{{postgrePassword}}'
gitlab_rails['db_host'] = '{{postgreAddress}}'
gitlab_rails['db_port'] = 5432

redis['master_name'] = 'instance-gitlab-02'
gitlab_rails['redis_port'] = 6379
redis['master_password'] = '{{redisPassword}}'
gitlab_rails['redis_socket'] = nil
gitlab_rails['redis_sentinels'] = [
    {'host' => '{{redisMasterAddress}}', 'port' => 26379},
    {'host' => '{{redisSlaveAddress1}}', 'port' => 26379},
    {'host' => '{{redisSlaveAddress2}}', 'port' => 26379}
]

postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = true

user['uid'] = 9000
user['gid'] = 9000
web_server['uid'] = 9001
web_server['gid'] = 9001
registry['uid'] = 9002
registry['gid'] = 9002
